<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}MedMind{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="overflow-auto">
    {% include "components/navbar.html" %}

    <!-- Hero Section with Chatbot -->
    <div class="hero">
        {% block hero_content%}{% endblock %}
    </div>
        {% block content%}{% endblock %}

    {% include "components/footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>

</html>