{% extends "base.html" %}
{% block title %} Symptom Checker - MedMind {% endblock %}

{% block content %}
{% import "components/chatbot.html" as chatbot %}
<div class="p-2 px-2 max-w-7xl mx-auto">
    {{ chatbot.chatbot(height="70vh", name="MedMind Symptom Checker", first_message="Hello! Please describe your symptoms.", api_url="symptom_checker_proxy") }}
</div>
{% endblock %}
{% block scripts %}
<script>
    const user_avatar = `{{ icons.icon("user_avatar") }}`;
    const bot_avatar = `{{ icons.icon("bot_avatar") }}`;
</script>
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
{% endblock %}