<!DOCTYPE html>
<html lang="en">
	{% import "components/icons.html" as icons %}

	<head>
		<meta charset="UTF-8" />
		<meta name="csrf-token" content="{{ csrf_token() }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{%block title%}MedMind{%endblock%}</title>

		<link rel="icon" href="{{ url_for('static', filename='svg/logo.svg') }}" />

		<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>

		{% block head %}{% endblock %}
	</head>

	<body class="overflow-auto">
		{% include "components/navbar.html" %}
		<div class="hero">{% block hero_content%}{% endblock %}</div>
		{% block content %}{% endblock %} {% include "components/footer.html" %}
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
		<script src="{{url_for('static', filename='js/tailwind_config.js')}}"></script>
		{% if current_user.is_authenticated %}
		<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
		<script>
			initializePushNotifications();
		</script>
		{% endif %} {% block scripts %}{% endblock %}
	</body>
</html>
